extends baseEmail

block content
  p Hi #{firstName},
  p Welcome to Domique Fusion, we're glad to have you 🎉🙏
  p You are requesting a verification code for authentication on our system. Please use the OTP below to proceed: #{otp}
  p This code is valid for 5 minutes. For security reasons, please do not share this code with anyone.
  p (Website for this action not yet implememnted.)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='center')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  img(src="https://res.cloudinary.com/dn797d3j3/image/upload/v1741971186/avatarUsers/cover-img-2_y5fiwb.jpg" alt="cover-email" width="500" height="200")
  p If you need any help with booking restaurants, please don't hesitate to contact me!
  p - Dom Nguyen, CEO